html{

    font-size: 62.5%;
}
body{
    font-size:  16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: blue;
}
span{
    font-size: 2rem;
    color: brown !important;
}

h2 span {
    font-size: 1rem;
}